<a href="https://colab.research.google.com/github/aliroish/Data-Analyst-using-python/blob/main/Course7week2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
df=pd.read_excel("corona.xlsx")

In [ ]:
df.head(10)

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.dtypes

In [22]:
#drop all the rows which has minimum one blank value, inplace=True, axis=0, 1
df.dropna(inplace=True)

In [ ]:
df.head(10)

In [26]:
print(df.loc[:,["cases","active cases"]].corr())

                cases  active cases
cases         1.00000       0.94027
active cases  0.94027       1.00000

In [ ]:
gb=df.groupby('cases')
gb.first()

In [35]:
#we can run in two ways
df["cases"].mean()
# mean=df["cases"].mean()
# mean

45349.661016949154

In [36]:
#we can run in two ways
df["cases"].mode()
# mode=df["cases"].mode
# mode

0    16.0
Name: cases, dtype: float64

In [ ]:
#we can run in two ways
df["cases"].sum()
# sum=df["cases"].sum()
# sum

In [41]:
#we can run in two ways
median=df["cases"].median()
median
#df["cases"].median()

19848.0

In [ ]:
#replace with the new value that you want using .replace() function
df["cases"].replace(np.nan,sum)

In [47]:
df.dtypes

date            datetime64[ns]
cases                  float64
active cases           float64
deaths                 float64
dtype: object

In [ ]:
# df["cases"]=df["cases"].astype(int)
# df.dtypes
df
#if I want to change this datatype from 32 to 64 , how can I do?

In [ ]:
#simple feature scaling to normalize the data, try other two by your own
df["cases"]=df["cases"]/df["cases"].max()
df["cases"]

In [ ]:
df["cases"]

In [ ]:
#linspace Return evenly spaced numbers over a specified interval.
bins=np.linspace(min(df["cases"]),max(df["cases"]),5)
bins

In [58]:
#to get the label on column
label=["low","medium","high","Very High"]

In [59]:
#We can use the cut() function to convert the numeric values of the column into the categorical values.
df["bincases"]=pd.cut(df["cases"],bins,labels=label,include_lowest=True)

In [60]:
df[["cases","bincases"]].head(100)

       cases   bincases
0   0.000111        low
1   0.000111        low
3   0.000111        low
5   0.000111        low
6   0.000111        low
7   0.000111        low
8   0.000111        low
9   0.000111        low
10  0.000125        low
12  0.000334        low
13  0.000515        low
14  0.000550        low
15  0.000905        low
16  0.001148        low
17  0.001412        low
18  0.001823        low
21  0.005566        low
22  0.007236        low
23  0.008516        low
24  0.010889        low
25  0.013679        low
26  0.019099        low
27  0.025570        low
28  0.031999        low
29  0.040446        low
30  0.050597        low
31  0.065174        low
32  0.085769        low
33  0.106593        low
34  0.138098        low
35  0.155604        low
36  0.173061        low
37  0.202165        low
38  0.229509        low
39  0.259685     medium
40  0.305711     medium
41  0.353949     medium
42  0.401429     medium
43  0.432043     medium
44  0.464160     medium
45  0.493898     medium
46  0.542575       high
47  0.589978       high
48  0.634264       high
49  0.668698       high
50  0.696634       high
51  0.719261       high
52  0.749095       high
53  0.788289  Very High
54  0.822653  Very High
55  0.850039  Very High
56  0.872867  Very High
57  0.889580  Very High
58  0.905012  Very High
59  0.919888  Very High
60  0.937582  Very High
61  0.958072  Very High
62  0.983809  Very High
63  1.000000  Very High